.genres {
  margin-top: 2.25rem;
}

.genres ul {
  display: flex;
  align-items: center;
  column-gap: 1.56rem;
  overflow: scroll;
  padding: 1rem 0;
}

label {
  padding: 0.6375rem 0.7rem;
  border-radius: 0.25rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-gray-3);
  background: var(--color-gray-6);
  border: 0.0625rem solid var(--color-gray-6);
}

label:hover {
  border-color: var(--color-gray-2);
}

input:checked + label {
  color: var(--color-gray-7);
  background: var(--color-gray-2);
  border-color: var(--color-gray-2);
}

.dark-mode label {
  color: var(--color-gray-6);
  background: var(--color-gray-2);
  border-color: var(--color-gray-2);
}

.dark-mode label:hover {
  border-color: var(--color-brand-2);
}

.dark-mode input:checked + label {
  color: var(--color-gray-2);
  background: var(--color-gray-6);
  border-color: var(--color-gray-6);
}
