@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --color-brand-1: #6f00ff;
  --color-brand-2: #8629ff;

  --color-gray-1: #15171a;
  --color-gray-2: #212529;
  --color-gray-3: #2b2f33;
  --color-gray-4: #ced4da;
  --color-gray-5: #dee2e6;
  --color-gray-6: #f1f3f5;
  --color-gray-7: #f8f9fa;
  --color-gray-8: #fdfeff;
}

body {
  width: 90vw;
  max-width: 64rem;

  font-family: "Inter", sans-serif;
  color: var(--color-gray-2);
  background: var(--color-gray-8);

  margin: 0 auto;
}

button,
li label {
  cursor: pointer;
}

button {
  transition: background 300ms;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.813rem;
  font-weight: 600;

  margin: 1rem 0;
}


body.dark-mode {
  color: var(--color-gray-7);
  background-color: var(--color-gray-1);
}