.range div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.range p {
  font-size: 1.375rem;
  line-height: 1.688rem;
  font-weight: 600;
}

output {
  color: var(--color-brand-1);
}

input[type="range"] {
  cursor: pointer;
  width: 100%;
  background-color: var(--color-brand-1);
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.875rem;
  width: 1.875rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.5rem solid var(--color-brand-1);
}

input[type="range"]::-moz-range-thumb {
  height: 0.875rem;
  width: 0.875rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.5rem solid var(--color-brand-1);
}

.dark-mode output {
  color: var(--color-brand-2);
}

.dark-mode input[type="range"] {
  background-color: var(--color-brand-2);
}

.dark-mode input[type="range"]::-webkit-slider-thumb,
.dark-mode input[type="range"]::-moz-range-thumb {
  border-color: var(--color-brand-2);
}
